
.WelcomeMessage {
    border-radius: 25px;
    border-style: solid;
    border-color: lightgrey;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.8em;
}

.WelcomeMessage:hover {
    background-color: #76b5c5;
}

.WelcomeMessage:active {
    background-color: #abdbe3;
}